<%- include('../partials/header.ejs') %>
<main>
    <div class="container body-container">
        <div class="row mb-4">
            <div class="col-12">
                <h1><strong><%= event.title %></strong></h1>
                <!-- Display the RSVP buttons if the logged-in user is not the host -->
                <div class="container">
                    <% if (user !== event.hostName) { %>
                        <form action="/events/<%= event._id %>/rsvp" method="POST">
                            <button type="submit" name="status" value="Yes" class="btn btn-success">Yes</button>
                            <button type="submit" name="status" value="No" class="btn btn-danger">No</button>
                            <button type="submit" name="status" value="Maybe" class="btn btn-warning">Maybe</button>
                        </form>
                    <% } else { %>
                        <p>You cannot RSVP to your own event.</p>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="img-fluid event-img" src="<%= event.image %>" alt="Flyer for <%= event.title %>">
            </div>
            <div class="col-lg-9">
                <div class="event-details">
                    <p><strong>Host:</strong> <%= event.hostName.firstName + ' ' + event.hostName.lastName %></p>
                    <p><strong>Date and Time:</strong> <%= event.formattedStartDate %> to <%= event.formattedEndDate %></p>
                    <p><strong>Location:</strong> <%= event.location %></p>
                    <p><strong>Details:</strong> <%= event.details %></p>
                    <p>Number of rsvps: <%= yesRSVPCount %></p>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs') %>
